<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Compact_Agenda.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="DB_Demo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Compact_Agenda.Properties.Settings>
            <setting name="BackColorFormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="fontEvenement" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt</value>
            </setting>
            <setting name="colorFontEvenement" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="fontEvenementBold" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt</value>
            </setting>
            <setting name="colorLignePrincipale" serializeAs="String">
                <value>LightGray</value>
            </setting>
            <setting name="colorFondContent" serializeAs="String">
                <value />
            </setting>
            <setting name="colorLigneSecondaire" serializeAs="String">
                <value>LightGray</value>
            </setting>
            <setting name="positionWeekView" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="positionEvents" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="tailleWeekView" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="colorGeneral" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="colorTravail" serializeAs="String">
                <value>LightGray</value>
            </setting>
            <setting name="colorSante" serializeAs="String">
                <value>LightGreen</value>
            </setting>
            <setting name="colorImportant" serializeAs="String">
                <value>LightPink</value>
            </setting>
            <setting name="colorLoisir" serializeAs="String">
                <value>Orange</value>
            </setting>
            <setting name="colorAutre" serializeAs="String">
                <value>Beige</value>
            </setting>
            <setting name="colorEvent" serializeAs="String">
                <value>LightBlue</value>
            </setting>
            <setting name="colorPN_Days" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="colorPN_Hours" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="fontPN_Days" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt</value>
            </setting>
            <setting name="fontPN_Hours" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt</value>
            </setting>
            <setting name="colorFontPN_Hours" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="colorFontPN_days" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="colorLigneDaysHeader" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="positionDateSelect" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="colorPN_Days_Today" serializeAs="String">
                <value>Silver</value>
            </setting>
            <setting name="colorPN_Frame" serializeAs="String">
                <value>Black</value>
            </setting>
        </Compact_Agenda.Properties.Settings>
        <DB_Demo.Properties.Settings>
            <setting name="BackColorFormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
        </DB_Demo.Properties.Settings>
    </userSettings>
</configuration>